{% extends 'layout.html' %}

{% block main %}
<ul class="breadcrumb">
    <li>
        <a href="/admin">主页</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/admin/category">分类管理</a> <span class="divider">/</span>
    </li>
    <li class="active">
        分类列表
    </li>
</ul>

<h3 style="margin-top: 0;float: left;">分类管理 <small>（第{{page}}页）</small></h3>
<a href="/admin/category/add"><div style="margin-top: 0;float: right;padding: 8px;border: 1px #cccccc solid;">添加新的分类</div></a>
<div style="clear: both;"></div>

<h3>分类列表</h3>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>分类名</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for category in data %}
    <tr class="info">
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td></td>
        <td>
            <a href="/admin/category/edit?id={{category._id.toString()}}">修改 </a>
            |<a href="javascript:;" class="deleteBtn" name="{{category._id.toString()}}"> 删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(function() {
        $('.deleteBtn').click(function (e) {
            var id = $(e.target).attr('name');
            sweetAlert({
                title: '确认删除当前分类? ',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#0083ff",
                confirmButtonText: "确认!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: 'post',
                    url: '/admin/category/delete',
                    data: {
                        id: id
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 1) {
                            sweetAlert({
                                title: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: "#0083ff",
                                confirmButtonText: "返回分类管理",
                                closeOnConfirm: false
                            }, function () {
                                history.go(0);
                            });
                        }
                    }
                });
            });
        })
    })
</script>

{%include 'page.html'%}
{% endblock %}