{% extends 'layout.html' %}
{% block main %}
<style rel="stylesheet" type="text/css">
    .reviseInfo-save{
        width: 120px;
        font-size: 16px;
        background-color: #0083ff;
        border-radius: 3px;
        border: none;
        color: white;
        padding: 5px;
    }
</style>
<ul class="breadcrumb">
    <li>
        <a href="/admin">主页</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/admin/userInfo">我的信息</a> <span class="divider">/</span>
    </li>
    <li class="active">
        修改密码
    </li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{userInfo.username}} 的个人信息面板
        </h3>
    </div>
    <div class="panel-body" style="text-align: center">
        <div style="width: 40%;margin: 0 auto;padding-top: 20px;">
            <div class="bs-example bs-example-form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user"></i> 用户名称</span>
                    <input type="text" class="form-control username" value="{{userInfo.username}}" disabled="disabled">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-key"></i>原始密码</span>
                    <input type="password" class="form-control useremail">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-key"></i> 新密码&nbsp;&nbsp;</span>
                    <input type="password" class="form-control useremail">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-key"></i>再次输入</span>
                    <input type="password" class="form-control useremail">
                </div>
                <br>
                <div  style="margin: 0 auto">
                    <input type="button" value="保存修改" class="reviseInfo-save">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.reviseInfo').click(function () {
            $('.username').attr('disabled',false);
            $('.useremail').attr('disabled',false);
        })
    })
</script>
{% endblock %}