{% extends 'layout.html' %}

{% block main %}
<style type="text/css" rel="stylesheet">
    p{
        margin: 10px 0;
    }
    .content-media{
        width: 100%;
        background-color: white;
        height: auto;
        padding: 0;
        margin-bottom: 20px;
    }
    .content-media ul{
        padding: 0;
        border: 1px #CCCCCC solid;
        border-top-width: 0;
    }
    .content-media ul li{
        margin: 0;
        list-style: none;
        height: 50px;
        padding-left: 20px;
        line-height: 50px;
        border-top: 1px #CCCCCC solid;
    }
    .content-media ul li:hover{
        border: 1px #44B549 solid;
        color: #44B549;
    }
    .content-media i{
        margin-right: 10px;
    }
    .category-select{
        font-size: 20px;
        width: 80%;
    }
    .upload-wrap{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px 0px 0 0px;
        border: 1px #CCCCCC solid;
    }
    .PostContent{
        width: 160px;
        background-color: #0083ff;
        border-radius: 3px;
        border: none;
        color: white;
        font-size: 16px;
        padding: 8px 0;
        margin-bottom: 30px;
    }
</style>
<ul class="breadcrumb">
    <li>
        <a href="/admin">主页</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/admin/content">文章管理</a> <span class="divider">/</span>
    </li>
    <li class="active">
        添加文章
    </li>
</ul>

<h3>文章管理    <small>>添加文章</small></h3>
<div style="width: 100%;height: 100%;margin-bottom: 30px;">
    <div class="row-fluid clearfix">
        <div class="col-md-9" style="padding: 0;">
            <div id="content-frame" style="padding: 20px;border: 1px #CCCCCC solid;background-color: white;">
                <input type="text" id="title" name="title" placeholder="请输入标题" style="width: 100%;height: auto;font-size: 25px;border: none;border-bottom: 1px #cbcbcb solid;"/>
                <textarea id="description" cols="150" rows="3" placeholder="请输入简介,最多100字" maxlength="100" name="description" style="border: none;max-width: 100%;resize: none;font-size: 16px;border-bottom: 1px #cbcbcb solid;"></textarea>
                <div id="content"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var $summernote = $('#content').summernote({
                            height:1000,
                            minheight:1000,
                            dialogsFade:true,
                            placeholder:'请输入文章内容',
                            callbacks: {
                                onImageUpload: function (files) {
                                    //console.log(files);
                                    sendFile($summernote, files[0]);
                                }
                            }
                        });

                        function sendFile($summernote, file) {
                            //console.log(file);
                            var formData = new FormData();
                            formData.append("file", file);
                            $.ajax({
                                url: '/admin/uploadImg',
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                type: 'POST',
                                success: function (data) {
                                    $summernote.summernote('insertImage', data.url, function ($image) {
                                        $image.attr('src', data.url);
                                    });
                                }
                            });

                        }
                    });
                </script>
            </div>

            <button class="PostContent">提交</button>
            <script type="text/javascript">
                $(function() {
                    $('.PostContent').click(function () {
                        $.ajax({
                            type: 'post',
                            url: '/admin/content/add',
                            data: {
                                title: $.trim($('#title').val()),
                                description: $.trim($('#description').val()),
                                content: $('#content').summernote('code'),
                                categories: $('#category').find("option:selected").attr('value')
                            },
                            dataType: 'json',
                            success: function (data) {
                                var type='success';
                                var showCancelButton=false;
                                if(data.code==1||data.code==2||data.code==3){
                                    type='warning';
                                    showCancelButton=true;
                                }
                                sweetAlert({
                                    title: data.message,
                                    type: type,
                                    showCancelButton: showCancelButton,
                                    confirmButtonColor: "#0083ff",
                                    confirmButtonText: "返回文章管理",
                                    closeOnConfirm: false
                                }, function(){
                                    window.location.href='http://'+(window.location.host).toString()+"/admin/content";
                                });
                            }
                        });
                    });
                })
            </script>
        </div>
        <div class="col-md-3" style="padding: 10px 2%;border: 1px #cccccc solid;border-left-width: 0;background-color: white;">
            <p>添加多媒体:</p>
            <div class="content-media">
                <ul class="tpl-list">
                    <li class="tpl-item-img"><i class="icon-picture icon-large"></i>图片</li>
                    <li class="tpl-item-voice"><i class="icon-music icon-large"></i>音频</li>
                    <li class="tpl-item-video"><i class="icon-film icon-large"></i>视频</li>
                </ul>
            </div>
            <p>文章分类:</p>
            <select id="category" name="categories" class="category-select">
                {% for category in categories %}
                <option value="{{category._id.toString()}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <p style="margin-top: 20px;">封面:</p>
            <p style="color: #8d8d8d;">大图片建议尺寸：900像素 * 500像素</p>
            <div class="upload-wrap">
                <i class="icon-picture" style="font-size: 100px;"></i>
                <p style="margin: 0;padding: 3px 0;background-color: #5E5E5E;color: #CCCCCC;">添加封面图片</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}